.button.play {
    width: 30px;
    height: 30px;
    border-style: solid;
    border-width: 14px;
    border-color: #202020;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border-width: 14px 0px 14px 28px;
    border-color: transparent transparent transparent #202020;
    background-color: white;

  }
  .button.pause {
    width: 30px;
    height: 30px;
    border-style: solid;
    border-width: 15px;
    border-color: #202020;
    border-style: double;
    border-width: 0px 15px 0px 15px;
    border-width: 0px 0px 0px 15px;
  border-color: #202020;
  background-color: white;
  } 
/* 
  .button {
    box-sizing: border-box;
    height: 74px;
    
    border-color: transparent transparent transparent #202020;
    transition: 100ms all ease;
    will-change: border-width;
    cursor: pointer;
  

    border-style: solid;
    border-width: 37px 0 37px 60px;
   background-color: white;

  }.pause {
      border-style: double;
      border-width: 0px 0 0px 60px;
    } */