ul {
  list-style: none;
}
.listeSideBar {
  margin-top: 1rem;
}
.listemenu {
  color: white;
}
.PlayComponent {
  text-align: center;
}
.footerleft {
  text-align: center;
}
.footerright {
  text-align: center;
}

.MenuName {
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
  margin-left: 0.8rem;
}
.imageSpotify {
  height: 2.5rem;
  width: 8.5rem;
  margin-top: 1.4rem;
}

.ButtonPlayAndPause {
  font-size: 3.4rem;
}

.ButtonPlayAndPauseGrid {
  font-size: 1.4rem;
}

.ButtonNextRight,
.ButtonRepeat,
.ButtonNextLeft,
.ButtonRandom {
  font-size: 1.4rem;
  margin-top: 1.9rem;
}

.FooterAlignMiddleImage {
  margin-top: 1.5rem;
}

.FooterAlignMiddleText {
  font-size: 1.4rem;
  margin-top: 2.8rem;
}

.FooterAlignMiddleVolume {
  font-size: 1.4rem;
  margin-top: 1.8rem;
}
.FooterAlignMiddleVolumeIcon {
  font-size: 1.4rem;
  margin-top: 3.3rem;
  margin-left: 3rem;
}

/* .ButtonNextLeft {
  font-size: 1.4rem;
  margin-top: 1.9rem;
} */

container-fluid {
  height: 100vh;
}

body {
  background-color: #121212;
  color: white;
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
}

.SideBar {
  background-color: #000000;
  height: 100%;
  position: fixed;
}

.SideBarMobile {
  background-color: #000000;
  height: 100%;
  position: fixed;
}

.form-control {
  border-radius: 3rem;
  width: 23rem;
}

.navbar {
  margin-top: 0.2rem;
  position: fixed;
}

.mainBody {
  margin-top: 5rem;
  margin-left: 8rem;
  margin-bottom: 10rem;
}

.mainBodyMobile {
  margin-top: 5rem;
  margin-left: 2rem;
  margin-bottom: 10rem;
}

.d-flex {
  background-color: black;
}
.greenSF {
  background-color: #1ab954;
}

.player {
  text-align: center;
}
/* .FirstRow {
  margin-top: 1rem;
}
.SecondRow {
  margin-top: 1rem;
} */

/* body {
  background-color: black;
  color: #dadce1;
  min-width: 960px;
}
.nav li a,
.nav li a:focus,
.nav li a:hover,
.nav li a:active {
  background: transparent;
  color: inherit;
}
.fa {
  text-align: center;
}
​ ​ ​ ​ .side-nav {
  background: #1c1c1f;
  color: #88898c;
  text-align: center;
}
.side-nav .navbar {
  margin-bottom: 0;
}
.side-nav li {
  font-size: 12px;
}
.side-nav li a {
  border-left: 3px solid transparent;
  padding-bottom: 15px;
}
.side-nav li.active a,
.side-nav li a:focus,
.side-nav li a:active,
.side-nav li a:hover {
  color: #dadce1;
  border-color: #84bd00;
  outline: none;
}
.side-nav .fa {
  font-size: 30px;
  margin-bottom: 10px;
  display: block;
}
.side-nav .brand-icon .fa {
  font-size: 50px;
  color: #dadce1;
}
​ ​ ​ .top-nav {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}
​ .top-nav li a {
  border-bottom: 2px solid transparent;
}
​ .top-nav li.active a,
.top-nav li a:focus,
.top-nav li a:active,
.top-nav li a:hover {
  border-bottom-color: #84bd00;
  color: #dadce1;
  outline: transparent;
}
​ .clean-paddings {
  padding: 0;
}
*/
​ .table-songs,
.table-songs thead th,
.table-songs thead tr th,
.table-songs tbody tr,
.table-songs tbody tr td {
  color: #dadce1;
  border-color: #1c1c1f;
  font-size: 12px;
}
​ .table-songs tbody tr:focus,
.table-songs tbody tr:hover,
.table-songs tbody tr.active td {
  background-color: #1c1c1f;
}
​ .table-songs thead tr th {
  text-transform: uppercase;
  color: #7d7e81;
  font-weight: normal;
}
​ .table-songs tbody {
  overflow: scroll;
  height: 200px;
}
.table-songs .play-btn {
  color: transparent;
  font-size: 12px;
}
.table-songs .secondary-info {
  color: #7d7e81;
}
​ .table-songs tr.active .play-btn,
.table-songs .play-btn:focus,
.table-songs .play-btn:hover {
  color: #dadce1;
  outline: none;
}
i.logoMobile {
  color: white;
  font-size: 30px;
  margin-top: 1rem;
  margin-left: 2px;
  padding-left: 1px;
}

i.logoMobileBars {
  color: white;
  font-size: 30px;
  margin-top: 1rem;
  margin-left: 2px;
  padding-left: 3px;
}

i.logoMobileTop {
  color: #1ab954;
  font-size: 50px;
  margin-top: 2rem;
  padding-left: 0.01px;
  margin-left: -2px;
}

.imageAlbumGrid {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
